.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.container {
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

.search-container {
  margin-bottom: 30px;
}
